services:
  - type: web
    name: sayeri-server
    runtime: node
    rootDir: ./
    plan: free
    autoDeploy: true
    buildCommand: npm install --include=dev && npm run prisma:generate && npm run build
    startCommand: npm run start:render
    healthCheckPath: /health
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
